/* Main */
.contenedor-principal
{
    color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
}

header
{
    background-color: #ddd;
    text-align: center;

}

main
{
    display: flex;
    height: auto;

}

aside
{
    order: 3;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #ccc;

}

article
{
    order: 2;
    flex-grow: 3;
    flex-basis: 0;
    display: flex;
    flex-direction: column;

}

nav
{
    order: 1;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #bbb;

}

header nav
{
    background-color: blue;
    display: flex;
}

ul
{
    color: #8b8b8b;
    list-style: none;
    display: flex;
    align-items: center;
}

li
{
    padding: 0 1em;
    text-decoration-thickness: 700;
    background-color: #bbb;
    margin: auto 100px auto 100px;
}

header nav a
{
    color: #1bb9c2;

}

a:hover
{
    color: purple;
}

.logo
{
    align-items: start;
    display: flex;
    max-width: 140px;
}

.logo img
{
    max-width: 100%;
    height: auto;
    align-self: start;
}

footer
{
    background-color: #ddd;
    text-align: center;
}

/* Galeria */


.galeria
{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px black;
    background-color: azure;
    justify-content: center;
    height: auto;
    border-radius: 10px;
}

#box-1
{
    background-color: #ddd;
    border: 5px solid black;
    border-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 21%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    box-shadow: 2px 2px 10px purple;
}