/* Inicio Ajustes Generales */
banner
{
    border: 10px solid #678c99;
}

header
{
    background-color: #d6c292;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-style: italic;
    position: sticky;
    top: 0;
}

banner
{
    display: flexbox;
}

main
{
    display: flex;
    height: auto;

}

aside
{
    order: 3;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #92876c;

}

article
{
    order: 2;
    flex-grow: 3;
    flex-basis: 0;
    display: flex;
    background-color: #d0c3a6;
    flex-direction: column;
}

nav
{
    order: 1;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #92876c;

}

ul
{
    color: #8b8b8b;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

li
{
    padding: 0 1em;
    text-decoration-thickness: 700;
    background-color: #b59e67;
    align-content: flex-end;
    flex-grow: 1;
    margin-top: 20px;
}

h1, h2, a, p
{
    font-family: 'Lucida Sans', sans-serif;
    text-align: justify;
    padding: 5px;

}

p
{
    font-family: 'Lucida Sans', sans-serif;
    text-align: justify;
    padding: 5px;
}

/* Fin de Ajustes Generales */

/* Inicio Main */
.contenedor-principal
{
    color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Fin Main */

/* Banner */
banner img
{
    width: 100%;
    height: 40vh;
    position: relative;
    text-align: center;
    color: white;
}

banner h1
{
    color: #b59e67;
    background-color: #554b33;
    opacity: 2;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', sans-serif;
}


/* Fin del Banner */

/* Inicio del Header */
header nav
{
    background-color: #fff1cf;
    display: flex;
    font-style: normal;
    /* background-image: linear-gradient(90deg, #fcb045 0%, #fd1d1d 35%, #833ab4 100%); */
    background-image: linear-gradient(90deg, #fff1cf 0%, #d6c292 35%, #b59e67 100%);
    border: 10px solid #746950;
}

header nav a
{
    color: #265355;
    text-decoration: none;
    padding: 30px;
}

header a:hover
{
    color: purple;
    background-color: #b8c7cc;
    padding: 30px 30px 0px 30px;
}

a:hover.logo
{

    background-color: transparent;
    padding-top: 30px;
}

.logo
{
    align-items: start;
    max-width: 140px;
    background-color: transparent;
    margin: 2px;
    padding: 30px 30px 0px 30px;

}

.logo img
{
    max-width: 100%;
    height: auto;
    align-self: start;
}

/* Fin del Header */

/* Inicio del Footer */
footer
{
    background-color: #b59e67;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: auto;
    height: auto;
}

footer a
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    color: #ccc;
}

footer ul 
{
    border-bottom: 4px solid gray ;
    padding: 10px;

}

a.instagram
{
    background-image: url("../imagenes/icon-instagram-0.svg");
}

a:hover.instagram
{
    background-image: url("../imagenes/icon-instagram.svg");
}

a.youtube
{
    background-image: url("../imagenes/icon-youtube-0.svg");
}

a:hover.youtube
{
    background-image: url("../imagenes/icon-youtube.svg");
}

a.facebook
{
    background-image: url("../imagenes/icon-fb-0.svg");
}

a:hover.facebook
{
    background-image: url("../imagenes/icon-fb.svg");
}

footer p
{
    font-size: 20px;
    color: #554b33;
}

footer a.logo
{
    width: 140px;
    margin: 20px;
}

/* Fin del Footer */

/* Inicio del Aside */

aside ul
{
    display: flex;
    flex-direction: column;
    top: 10vh;
    position: sticky;
    margin-top: 2vh;
}

aside li
{
    width: 70%;
}

aside a
{
    color: #554b33;
    text-decoration: none;
    padding: 10px;
}

/* Inicio de Galeria */

.galeria
{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', sans-serif;
    box-shadow: 2px 2px 10px black;
    background-color: #d0c3a6;
    justify-content: center;
    height: auto;
    border-radius: 10px;
}

#box-1
{
    background-color: #fff;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    box-shadow: 2px 2px 10px black;
    margin: 10px 5px;
}

#box-1 img
{
    max-width: 250px;
    max-height: 150px;
    margin: 10px;

}

/* Fin de Galeria */

/* Inicio Proyecto */

#proyecto
{
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    box-shadow: 2px 2px 10px black;
    margin: 10px 5px;
    padding: 5px;
    text-align: justify;
}
#proyecto .texto{
    text-align: justify;
    margin: 10px;
}

#proyecto img{
    width: 25vw;
    margin: 10px;
    padding: 5px;
    border-left: 4px solid black;
}
#proyecto h1{
    text-align: center;
    font-size: 35px;
}
#proyecto h2
{
    text-align: justify;
    font-size: 25px;
}
/* Fin de Proyecto */

/* Inicio de Formulario */

fieldset
{
    align-items: center;
    border: 4px solid black;
    font-family: 'Lucida Sans', sans-serif;
    margin: 5px;
}

fieldset ul
{
    display: flex;
    color: black;
    align-content: left;
    align-items: left;

}

fieldset li
{
    margin: auto;
    background-color: #d0c3a6;
}

fieldset div
{
    background-color: #92876c;
    text-align: justify;
    border: 7px solid;
    border-image: linear-gradient(to right, #fff1cf 0%, #d6c292 35%, #b59e67 100%)1;
    margin: 10px 10vh;
    padding: 10px;
}

/* Fin de Formulario */